
html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'VT323', monospace;
    color: #333;
    overflow: hidden;



}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
    margin-top: 20px;
    background-color: #444;
    border: 5px solid #333;
    padding: 10px;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #e3e3e3;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cell:hover {
    background-color: #d1d1d1;
}

.cell:active {
    background-color: #bbb;
}

/* Score section styling */
.scores {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin-bottom: 15px;
    gap: 50px;
    
}

#p1Score, #p2Score {
    padding-top: 20px;
    font-size: 1rem;
    color: #444;
    
}

/* Button styling */
button {
    display: block;
    margin-top: 20px auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}


button:hover {
    background-color: #333;
}

button:active {
    background-color: #222;
}

/* Intro text styling */
#intro-text {
    font-size: 2rem;
    color: #333;
}

#turn-indicator, #restart, #intro-text{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

#restart, #intro-text{
    transform: translateY(-40px);
}

#game-result {
    position: absolute; /* Position it absolutely */
    left: 50%; /* Center horizontally */
    top: -50px; /* Adjust this value to move it up or down */
    transform: translateX(-50%); /* Offset to truly center horizontally */
    font-size: 20px; /* Font size */
    text-align: center; /* Center align the text */
    display: none; /* Hide by default, show when needed */
}